<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron">
        <h1>
          <%= @your_output %>
          
          <%= @first_then_last %>
          <small>
            a.k.a. <%= @last_then_first %>
          </small>
        </h1>
      </div>

    </div>
  </div>
</div>
